*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container{
  height: 50px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}